
-- Profiles table
CREATE TABLE public.profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  username TEXT,
  avatar_url TEXT,
  plan TEXT DEFAULT 'free',
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own profile" ON public.profiles
  FOR SELECT TO authenticated USING (auth.uid() = id);

CREATE POLICY "Users can update own profile" ON public.profiles
  FOR UPDATE TO authenticated USING (auth.uid() = id);

CREATE POLICY "Users can insert own profile" ON public.profiles
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = id);

-- Auto-create profile on signup
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  INSERT INTO public.profiles (id, username)
  VALUES (NEW.id, COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.email));
  RETURN NEW;
END;
$$;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Contents table
CREATE TABLE public.contents (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  type TEXT NOT NULL,
  topic TEXT NOT NULL,
  content TEXT NOT NULL,
  viral_score INTEGER DEFAULT 0,
  platform TEXT,
  metadata JSONB DEFAULT '{}',
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.contents ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own contents" ON public.contents
  FOR SELECT TO authenticated USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own contents" ON public.contents
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can delete own contents" ON public.contents
  FOR DELETE TO authenticated USING (auth.uid() = user_id);

-- Hooks table
CREATE TABLE public.hooks (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  hook_text TEXT NOT NULL,
  category TEXT NOT NULL,
  platform TEXT,
  is_public BOOLEAN DEFAULT false,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.hooks ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own hooks" ON public.hooks
  FOR SELECT TO authenticated USING (auth.uid() = user_id OR is_public = true);

CREATE POLICY "Users can insert hooks" ON public.hooks
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can delete own hooks" ON public.hooks
  FOR DELETE TO authenticated USING (auth.uid() = user_id);

-- Trends table (public read)
CREATE TABLE public.trends (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  topic TEXT NOT NULL,
  platform TEXT NOT NULL,
  trending_score INTEGER DEFAULT 0,
  description TEXT,
  category TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.trends ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Anyone can view trends" ON public.trends
  FOR SELECT TO authenticated USING (true = true);

-- Seed some initial hooks

-- Seed some trends

ALTER TABLE public.trends 
  ADD COLUMN IF NOT EXISTS hook text,
  ADD COLUMN IF NOT EXISTS hashtags text,
  ADD COLUMN IF NOT EXISTS format text;

-- Allow authenticated users to insert trends (REDACTED FOR SECURITY)
CREATE POLICY "Authenticated users can insert trends"
  ON public.trends FOR INSERT TO authenticated
  WITH CHECK (false);

-- Allow authenticated users to delete trends (REDACTED FOR SECURITY)
CREATE POLICY "Authenticated users can delete trends"
  ON public.trends FOR DELETE TO authenticated
  USING (false);

-- Social accounts table
CREATE TABLE public.social_accounts (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  platform text NOT NULL,
  account_name text,
  account_id text,
  access_token_encrypted text,
  refresh_token_encrypted text,
  token_expires_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.social_accounts ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own social accounts" ON public.social_accounts
  FOR SELECT TO authenticated USING (auth.uid() = user_id);
CREATE POLICY "Users can insert own social accounts" ON public.social_accounts
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can update own social accounts" ON public.social_accounts
  FOR UPDATE TO authenticated USING (auth.uid() = user_id);
CREATE POLICY "Users can delete own social accounts" ON public.social_accounts
  FOR DELETE TO authenticated USING (auth.uid() = user_id);

-- Uploads table
CREATE TABLE public.uploads (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  file_path text NOT NULL,
  file_name text NOT NULL,
  mime_type text,
  size_bytes bigint,
  duration_seconds integer,
  thumbnail_path text,
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.uploads ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own uploads" ON public.uploads
  FOR SELECT TO authenticated USING (auth.uid() = user_id);
CREATE POLICY "Users can insert own uploads" ON public.uploads
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can delete own uploads" ON public.uploads
  FOR DELETE TO authenticated USING (auth.uid() = user_id);

-- Publications table
CREATE TABLE public.publications (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  upload_id uuid REFERENCES public.uploads(id) ON DELETE CASCADE NOT NULL,
  title text NOT NULL,
  caption text,
  hashtags text,
  scheduled_for timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.publications ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own publications" ON public.publications
  FOR SELECT TO authenticated USING (auth.uid() = user_id);
CREATE POLICY "Users can insert own publications" ON public.publications
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can delete own publications" ON public.publications
  FOR DELETE TO authenticated USING (auth.uid() = user_id);

-- Publication targets table
CREATE TABLE public.publication_targets (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  publication_id uuid REFERENCES public.publications(id) ON DELETE CASCADE NOT NULL,
  platform text NOT NULL,
  status text NOT NULL DEFAULT 'pendente',
  platform_post_id text,
  platform_post_url text,
  error_message text,
  published_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.publication_targets ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own publication targets" ON public.publication_targets
  FOR SELECT TO authenticated
  USING (EXISTS (SELECT 1 FROM public.publications p WHERE p.id = publication_id AND p.user_id = auth.uid()));
CREATE POLICY "Users can insert own publication targets" ON public.publication_targets
  FOR INSERT TO authenticated
  WITH CHECK (EXISTS (SELECT 1 FROM public.publications p WHERE p.id = publication_id AND p.user_id = auth.uid()));
CREATE POLICY "Users can update own publication targets" ON public.publication_targets
  FOR UPDATE TO authenticated
  USING (EXISTS (SELECT 1 FROM public.publications p WHERE p.id = publication_id AND p.user_id = auth.uid()));

-- Publication logs table
CREATE TABLE public.publication_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  publication_target_id uuid REFERENCES public.publication_targets(id) ON DELETE CASCADE NOT NULL,
  event text NOT NULL,
  details text,
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.publication_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own publication logs" ON public.publication_logs
  FOR SELECT TO authenticated
  USING (EXISTS (
    SELECT 1 FROM public.publication_targets pt
    JOIN public.publications p ON p.id = pt.publication_id
    WHERE pt.id = publication_target_id AND p.user_id = auth.uid()
  ));

-- Storage bucket for creator media
INSERT INTO storage.buckets (id, name, public) VALUES ('creator-media', 'creator-media', true);

CREATE POLICY "Users can upload own media" ON storage.objects
  FOR INSERT TO authenticated
  WITH CHECK (bucket_id = 'creator-media' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Users can view own media" ON storage.objects
  FOR SELECT TO authenticated
  USING (bucket_id = 'creator-media' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Anyone can view public media" ON storage.objects
  FOR SELECT USING (bucket_id = 'creator-media');
CREATE POLICY "Users can delete own media" ON storage.objects
  FOR DELETE TO authenticated
  USING (bucket_id = 'creator-media' AND (storage.foldername(name))[1] = auth.uid()::text);

-- Add new columns to existing tables

-- uploads: add aspect_ratio
ALTER TABLE public.uploads ADD COLUMN IF NOT EXISTS aspect_ratio text;

-- publications: add cta, thumbnail_path, overall_status, updated_at
ALTER TABLE public.publications ADD COLUMN IF NOT EXISTS cta text;
ALTER TABLE public.publications ADD COLUMN IF NOT EXISTS thumbnail_path text;
ALTER TABLE public.publications ADD COLUMN IF NOT EXISTS overall_status text DEFAULT 'rascunho';
ALTER TABLE public.publications ADD COLUMN IF NOT EXISTS updated_at timestamptz DEFAULT now();

-- publication_targets: add platform_specific_title, platform_specific_caption, privacy_status
ALTER TABLE public.publication_targets ADD COLUMN IF NOT EXISTS platform_specific_title text;
ALTER TABLE public.publication_targets ADD COLUMN IF NOT EXISTS platform_specific_caption text;
ALTER TABLE public.publication_targets ADD COLUMN IF NOT EXISTS privacy_status text DEFAULT 'public';

-- social_accounts: add updated_at
ALTER TABLE public.social_accounts ADD COLUMN IF NOT EXISTS updated_at timestamptz DEFAULT now();

-- Create drafts table
CREATE TABLE IF NOT EXISTS public.drafts (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  upload_id uuid REFERENCES public.uploads(id) ON DELETE SET NULL,
  title text,
  caption text,
  hashtags text,
  cta text,
  selected_platforms jsonb DEFAULT '[]'::jsonb,
  scheduled_for timestamptz,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

ALTER TABLE public.drafts ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own drafts" ON public.drafts FOR SELECT TO authenticated USING (auth.uid() = user_id);
CREATE POLICY "Users can insert own drafts" ON public.drafts FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can update own drafts" ON public.drafts FOR UPDATE TO authenticated USING (auth.uid() = user_id);
CREATE POLICY "Users can delete own drafts" ON public.drafts FOR DELETE TO authenticated USING (auth.uid() = user_id);

-- Create storage buckets for videos and thumbnails
INSERT INTO storage.buckets (id, name, public) VALUES ('videos', 'videos', true) ON CONFLICT (id) DO NOTHING;
INSERT INTO storage.buckets (id, name, public) VALUES ('thumbnails', 'thumbnails', true) ON CONFLICT (id) DO NOTHING;

-- Storage policies for videos bucket
CREATE POLICY "Users can upload videos" ON storage.objects FOR INSERT TO authenticated WITH CHECK (bucket_id = 'videos' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Users can view own videos" ON storage.objects FOR SELECT TO authenticated USING (bucket_id = 'videos' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Users can delete own videos" ON storage.objects FOR DELETE TO authenticated USING (bucket_id = 'videos' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Public can view videos" ON storage.objects FOR SELECT TO anon USING (bucket_id = 'videos');

-- Storage policies for thumbnails bucket
CREATE POLICY "Users can upload thumbnails" ON storage.objects FOR INSERT TO authenticated WITH CHECK (bucket_id = 'thumbnails' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Users can view own thumbnails" ON storage.objects FOR SELECT TO authenticated USING (bucket_id = 'thumbnails' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Users can delete own thumbnails" ON storage.objects FOR DELETE TO authenticated USING (bucket_id = 'thumbnails' AND (storage.foldername(name))[1] = auth.uid()::text);
CREATE POLICY "Public can view thumbnails" ON storage.objects FOR SELECT TO anon USING (bucket_id = 'thumbnails');

-- Add update policy for publications
CREATE POLICY "Users can update own publications" ON public.publications FOR UPDATE TO authenticated USING (auth.uid() = user_id);

-- Add insert policy for publication_logs
CREATE POLICY "Users can insert own publication logs" ON public.publication_logs FOR INSERT TO authenticated WITH CHECK (
  EXISTS (
    SELECT 1 FROM publication_targets pt
    JOIN publications p ON p.id = pt.publication_id
    WHERE pt.id = publication_logs.publication_target_id AND p.user_id = auth.uid()
  )
);
-- Fix Security issues identified by Lovable scanner

-- 1. Fix: Any authenticated user can insert or delete all trend data (outdated)
-- 2. Fix: RLS Policy Always True (outdated)
-- Issue stems from: supabase/migrations/20260308194258_e539e3e5-62fb-43a4-b4eb-b84ce860783e.sql

-- Drop the overly permissive policies
DROP POLICY IF EXISTS "Authenticated users can insert trends" ON public.trends;
DROP POLICY IF EXISTS "Authenticated users can delete trends" ON public.trends;

-- Let's restrict insert to only super admins or the service role (backend). 
-- This typically prevents the "Any authenticated user can insert or delete all trend data" warning
-- and the "RLS Policy Always True (USING (true))" warning.
-- No new policies needed since the table already has "Anyone can view trends" for reading,
-- and inserts/updates should happen via secure Edge Functions bypassing RLS or using service_role key.
-- advanced_scheduling_engine.sql
-- Fase 2.1: Migrations for Multi-Media & Background Queues

-- 1. Relax upload_id constraint on publications to support carousel (N mÃ­dias)
ALTER TABLE public.publications
ALTER COLUMN upload_id DROP NOT NULL;

-- 2. Create post_media connection table
CREATE TABLE IF NOT EXISTS public.post_media (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    publication_id UUID NOT NULL REFERENCES public.publications(id) ON DELETE CASCADE,
    upload_id UUID NOT NULL REFERENCES public.uploads(id) ON DELETE CASCADE,
    sort_order INTEGER NOT NULL DEFAULT 0,
    media_type TEXT NOT NULL DEFAULT 'video', -- 'video' | 'image'
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL
);

-- Index for fast sort query
CREATE INDEX idx_post_media_publication_id ON public.post_media(publication_id);

-- 3. Create Fila Operacional (publication_jobs)
-- Estado possÃ­vel: 'queued', 'processing', 'completed', 'failed'
CREATE TABLE IF NOT EXISTS public.publication_jobs (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    publication_target_id UUID NOT NULL UNIQUE REFERENCES public.publication_targets(id) ON DELETE CASCADE,
    run_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT NOW(),
    status TEXT NOT NULL DEFAULT 'queued',
    attempt_count INTEGER NOT NULL DEFAULT 0,
    locked_at TIMESTAMP WITH TIME ZONE,
    last_error TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL
);

-- Indices for queue sweeping
CREATE INDEX idx_publication_jobs_run_at ON public.publication_jobs(status, run_at);

-- 4. Create HistÃ³rico de Falhas/Tentativas (publication_attempts)
CREATE TABLE IF NOT EXISTS public.publication_attempts (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    publication_job_id UUID NOT NULL REFERENCES public.publication_jobs(id) ON DELETE CASCADE,
    attempt_number INTEGER NOT NULL,
    error_message TEXT,
    http_status INTEGER,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL
);

CREATE INDEX idx_publication_attempts_job_id ON public.publication_attempts(publication_job_id);

-- RLS: Apply security defaults
ALTER TABLE public.post_media ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.publication_jobs ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.publication_attempts ENABLE ROW LEVEL SECURITY;

-- Allow authenticated users to view/insert their own post_media via publications
CREATE POLICY "Users can manage their own post_media" 
    ON public.post_media
    FOR ALL 
    TO authenticated 
    USING (
        EXISTS (
            SELECT 1 FROM public.publications p
            WHERE p.id = post_media.publication_id AND p.user_id = auth.uid()
        )
    )
    WITH CHECK (
        EXISTS (
            SELECT 1 FROM public.publications p
            WHERE p.id = post_media.publication_id AND p.user_id = auth.uid()
        )
    );

-- Users can view their own publication_jobs
CREATE POLICY "Users can view their own publication_jobs"
    ON public.publication_jobs
    FOR SELECT
    TO authenticated
    USING (
        EXISTS (
            SELECT 1 FROM public.publication_targets pt
            JOIN public.publications p ON pt.publication_id = p.id
            WHERE pt.id = publication_jobs.publication_target_id AND p.user_id = auth.uid()
        )
    );

-- Allow backend service role full access to jobs and attempts
-- Supabase default service_role bypasses RLS, but explicit is good.
-- Fix B: OAuth States Table for secure callback verification
CREATE TABLE IF NOT EXISTS public.oauth_states (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  platform TEXT NOT NULL,
  redirect_uri TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Housekeeping function to automatically delete old states
CREATE OR REPLACE FUNCTION delete_old_oauth_states()
RETURNS trigger AS $$
BEGIN
  DELETE FROM public.oauth_states WHERE created_at < NOW() - INTERVAL '1 hour';
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS trigger_delete_old_oauth_states ON public.oauth_states;
CREATE TRIGGER trigger_delete_old_oauth_states
  AFTER INSERT ON public.oauth_states
  EXECUTE FUNCTION delete_old_oauth_states();

-- RLS for oauth_states
ALTER TABLE public.oauth_states ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Users can insert own oauth states" ON public.oauth_states
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users can view own oauth states" ON public.oauth_states
  FOR SELECT TO authenticated USING (auth.uid() = user_id);

-- Fix C: Securing Storage Buckets
-- Set buckets to private
UPDATE storage.buckets SET public = false WHERE id IN ('videos', 'thumbnails', 'creator-media');

-- Ensure RLS is enabled on objects
ALTER TABLE storage.objects ENABLE ROW LEVEL SECURITY;

-- Policy to allow users to view their own objects (based on bucket folder or matching owner)
-- We use a simple owner policy assuming files are uploaded via Supabase Storage standard API
DROP POLICY IF EXISTS "Users can view their own private objects" ON storage.objects;
CREATE POLICY "Users can view their own private objects" ON storage.objects
  FOR SELECT TO authenticated USING (auth.uid() = owner);

DROP POLICY IF EXISTS "Users can insert their own private objects" ON storage.objects;
CREATE POLICY "Users can insert their own private objects" ON storage.objects
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = owner);

DROP POLICY IF EXISTS "Users can update their own private objects" ON storage.objects;
CREATE POLICY "Users can update their own private objects" ON storage.objects
  FOR UPDATE TO authenticated USING (auth.uid() = owner);

DROP POLICY IF EXISTS "Users can delete their own private objects" ON storage.objects;
CREATE POLICY "Users can delete their own private objects" ON storage.objects
  FOR DELETE TO authenticated USING (auth.uid() = owner);

-- Fix D: pgcrypto for Tokens
CREATE EXTENSION IF NOT EXISTS pgcrypto;

-- Fix E: Fix "Always True" Policies on trends table
DROP POLICY IF EXISTS "Authenticated users can insert trends" ON public.trends;
DROP POLICY IF EXISTS "Authenticated users can delete trends" ON public.trends;

-- Recreate with safe roles (e.g. only service_role can do this now)
CREATE POLICY "Only service_role can insert trends" ON public.trends
  FOR INSERT TO authenticated WITH CHECK (false); -- Effectively disables it for normal users

CREATE POLICY "Only service_role can delete trends" ON public.trends
  FOR DELETE TO authenticated USING (false);

-- Force schema cache reload
NOTIFY pgrst, 'reload schema';

-- 1. Ensure oauth_states table exists
CREATE TABLE IF NOT EXISTS public.oauth_states (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  platform TEXT NOT NULL,
  redirect_uri TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Housekeeping function to automatically delete old states
CREATE OR REPLACE FUNCTION delete_old_oauth_states()
RETURNS trigger AS $$
BEGIN
  DELETE FROM public.oauth_states WHERE created_at < NOW() - INTERVAL '1 hour';
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS trigger_delete_old_oauth_states ON public.oauth_states;
CREATE TRIGGER trigger_delete_old_oauth_states
  AFTER INSERT ON public.oauth_states
  EXECUTE FUNCTION delete_old_oauth_states();

-- RLS for oauth_states
ALTER TABLE public.oauth_states ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can insert own oauth states" ON public.oauth_states;
CREATE POLICY "Users can insert own oauth states" ON public.oauth_states
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
DROP POLICY IF EXISTS "Users can view own oauth states" ON public.oauth_states;
CREATE POLICY "Users can view own oauth states" ON public.oauth_states
  FOR SELECT TO authenticated USING (auth.uid() = user_id);

-- 2. Fix publication_jobs RLS
ALTER TABLE public.publication_jobs ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can insert own publication_jobs" ON public.publication_jobs;
CREATE POLICY "Users can insert own publication_jobs" ON public.publication_jobs
  FOR INSERT TO authenticated
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.publication_targets pt
      JOIN public.publications p ON pt.publication_id = p.id
      WHERE pt.id = publication_jobs.publication_target_id AND p.user_id = auth.uid()
    )
  );

-- 3. Fix publication_logs RLS (Allow Insert)
ALTER TABLE public.publication_logs ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can insert own publication logs" ON public.publication_logs;
CREATE POLICY "Users can insert own publication logs" ON public.publication_logs
  FOR INSERT TO authenticated
  WITH CHECK (EXISTS (
    SELECT 1 FROM public.publication_targets pt
    JOIN public.publications p ON p.id = pt.publication_id
    WHERE pt.id = publication_target_id AND p.user_id = auth.uid()
  ));

-- 4. Fix publication_attempts RLS (Allow Select)
ALTER TABLE public.publication_attempts ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can view own publication_attempts" ON public.publication_attempts;
CREATE POLICY "Users can view own publication_attempts" ON public.publication_attempts
  FOR SELECT TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.publication_jobs pj
      JOIN public.publication_targets pt ON pj.publication_target_id = pt.id
      JOIN public.publications p ON pt.publication_id = p.id
      WHERE pj.id = publication_job_id AND p.user_id = auth.uid()
    )
  );

-- Master Production Patch Phase 2
-- Resolves RLS violations and missing oauth_states table

-- 1. Ensure oauth_states table exists and is secure
CREATE TABLE IF NOT EXISTS public.oauth_states (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  platform TEXT NOT NULL,
  redirect_uri TEXT NOT NULL,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Housekeeping function to automatically delete old states
CREATE OR REPLACE FUNCTION delete_old_oauth_states()
RETURNS trigger AS $$
BEGIN
  DELETE FROM public.oauth_states WHERE created_at < NOW() - INTERVAL '1 hour';
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS trigger_delete_old_oauth_states ON public.oauth_states;
CREATE TRIGGER trigger_delete_old_oauth_states
  AFTER INSERT ON public.oauth_states
  EXECUTE FUNCTION delete_old_oauth_states();

-- RLS for oauth_states
ALTER TABLE public.oauth_states ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can insert own oauth states" ON public.oauth_states;
CREATE POLICY "Users can insert own oauth states" ON public.oauth_states
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);
DROP POLICY IF EXISTS "Users can view own oauth states" ON public.oauth_states;
CREATE POLICY "Users can view own oauth states" ON public.oauth_states
  FOR SELECT TO authenticated USING (auth.uid() = user_id);

-- 2. Enhanced RLS for publication_jobs
-- Granting insert to authenticated users based on target ownership
ALTER TABLE public.publication_jobs ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can manage their own publication_jobs" ON public.publication_jobs;
DROP POLICY IF EXISTS "Users can view their own publication_jobs" ON public.publication_jobs;
DROP POLICY IF EXISTS "Users can insert own publication_jobs" ON public.publication_jobs;

CREATE POLICY "Users can insert own publication_jobs" ON public.publication_jobs
  FOR INSERT TO authenticated
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.publication_targets pt
      JOIN public.publications p ON pt.publication_id = p.id
      WHERE pt.id = publication_jobs.publication_target_id AND p.user_id = auth.uid()
    )
  );

CREATE POLICY "Users can view own publication_jobs" ON public.publication_jobs
  FOR SELECT TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.publication_targets pt
      JOIN public.publications p ON pt.publication_id = p.id
      WHERE pt.id = publication_jobs.publication_target_id AND p.user_id = auth.uid()
    )
  );

-- 3. Enhanced RLS for publication_logs
ALTER TABLE public.publication_logs ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can view own publication logs" ON public.publication_logs;
DROP POLICY IF EXISTS "Users can insert own publication logs" ON public.publication_logs;

CREATE POLICY "Users can insert own publication logs" ON public.publication_logs
  FOR INSERT TO authenticated
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.publication_targets pt
      JOIN public.publications p ON pt.publication_id = p.id
      WHERE pt.id = publication_logs.publication_target_id AND p.user_id = auth.uid()
    )
  );

CREATE POLICY "Users can view own publication logs" ON public.publication_logs
  FOR SELECT TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.publication_targets pt
      JOIN public.publications p ON pt.publication_id = p.id
      WHERE pt.id = publication_logs.publication_target_id AND p.user_id = auth.uid()
    )
  );

-- 4. Correcting publication_attempts RLS
ALTER TABLE public.publication_attempts ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Users can view own publication_attempts" ON public.publication_attempts;

CREATE POLICY "Users can view own publication_attempts" ON public.publication_attempts
  FOR SELECT TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.publication_jobs pj
      JOIN public.publication_targets pt ON pj.publication_target_id = pt.id
      JOIN public.publications p ON pt.publication_id = p.id
      WHERE pj.id = publication_attempts.publication_job_id AND p.user_id = auth.uid()
    )
  );

-- 5. Final Schema Cache Reload Notification
NOTIFY pgrst, 'reload schema';

-- Migration: 20260315234500_automated_job_scheduler.sql
-- Goal: Automate the processing of the publication queue

-- 1. Enable pg_cron and pg_net extensions if available
-- Note: In Supabase, these are often pre-enabled or need a UI toggle, 
-- but doing it via SQL is safe if the user has permissions.
CREATE EXTENSION IF NOT EXISTS pg_cron;
CREATE EXTENSION IF NOT EXISTS pg_net;

-- 2. Create a helper function to invoke the cron-scheduler Edge Function
-- This function uses pg_net to call the URL asynchronously
CREATE OR REPLACE FUNCTION public.invoke_cron_scheduler()
RETURNS void AS $$
BEGIN
  -- We use the SUPABASE_URL and SERVICE_ROLE_KEY which must be available in the environment
  -- Since we can't easily access env vars in pure SQL without vault/config, 
  -- we rely on the standard Supabase Edge Function URL format.
  PERFORM net.http_post(
    url := 'https://wjzxntgpuimiubrnqfnz.supabase.co/functions/v1/cron-scheduler',
    headers := jsonb_build_object(
      'Content-Type', 'application/json',
      'Authorization', 'Bearer ' || current_setting('app.settings.service_role_key', true)
    ),
    body := '{}'
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 3. Schedule the worker to run every minute via pg_cron
-- We use a dummy check to see if pg_cron actually works in this env
DO $$
BEGIN
    IF EXISTS (SELECT 1 FROM pg_extension WHERE extname = 'pg_cron') THEN
        -- Schedule the cron-scheduler function call
        -- Note: We assume the service_role_key is available in settings or hardcoded (not ideal)
        -- In Supabase, the best way to call an edge function via cron is often via the UI or a direct HTTP call if possible.
        PERFORM cron.schedule('process-publication-queue', '* * * * *', 'SELECT net.http_post(''https://wjzxntgpuimiubrnqfnz.supabase.co/functions/v1/cron-scheduler'', ''{}'', ''{}'', jsonb_build_object(''Authorization'', ''Bearer '' || current_setting(''app.settings.service_role_key'', true)))');
    END IF;
END $$;

-- 4. Immediate Processing Trigger
-- This ensures that when a job is inserted (e.g. "Publish Now"), the worker is called immediately
-- rather than waiting for the next minute's cron tick.
CREATE OR REPLACE FUNCTION public.trigger_immediate_processing()
RETURNS trigger AS $$
BEGIN
  -- Only trigger for jobs meant to run NOW or in the past
  IF NEW.status = 'queued' AND NEW.run_at <= NOW() THEN
    PERFORM net.http_post(
      url := 'https://wjzxntgpuimiubrnqfnz.supabase.co/functions/v1/cron-scheduler',
      headers := jsonb_build_object(
        'Content-Type', 'application/json',
        'Authorization', 'Bearer ' || current_setting('app.settings.service_role_key', true)
      ),
      body := '{}'
    );
  END IF;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS trigger_process_now ON public.publication_jobs;
CREATE TRIGGER trigger_process_now
  AFTER INSERT ON public.publication_jobs
  FOR EACH ROW
  EXECUTE FUNCTION public.trigger_immediate_processing();

-- 5. Fix possible RLS omission for service role on publication_targets
-- (Just in case the worker needs it)
ALTER TABLE public.publication_targets ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Service role access all" ON public.publication_targets;
CREATE POLICY "Service role access all" ON public.publication_targets 
  TO service_role USING (true) WITH CHECK (true);

-- Temporary Audit Function
CREATE OR REPLACE FUNCTION public.audit_publication_queue()
RETURNS TABLE (table_name TEXT, status TEXT, count BIGINT) AS $$
BEGIN
  RETURN QUERY
    SELECT 'publication_targets'::TEXT, pt.status, COUNT(*) 
    FROM public.publication_targets pt GROUP BY pt.status
    UNION ALL
    SELECT 'publication_jobs'::TEXT, pj.status, COUNT(*) 
    FROM public.publication_jobs pj GROUP BY pj.status
    UNION ALL
    SELECT 'publications'::TEXT, p.overall_status, COUNT(*) 
    FROM public.publications p GROUP BY p.overall_status;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 1. Fix trends table: drop unrestricted INSERT and DELETE policies
DROP POLICY IF EXISTS "Authenticated users can insert trends" ON public.trends;
DROP POLICY IF EXISTS "Authenticated users can delete trends" ON public.trends;

-- Add service_role-only INSERT policy
CREATE POLICY "Service role can insert trends"
ON public.trends FOR INSERT
TO service_role
WITH CHECK (true);

-- Add service_role-only DELETE policy  
CREATE POLICY "Service role can delete trends"
ON public.trends FOR DELETE
TO service_role
USING (true);

-- 2. Lock function search_path for all custom functions
ALTER FUNCTION public.delete_old_oauth_states() SET search_path = public;
ALTER FUNCTION public.invoke_cron_scheduler() SET search_path = public;
ALTER FUNCTION public.trigger_immediate_processing() SET search_path = public;
ALTER FUNCTION public.audit_publication_queue() SET search_path = public;

-- Fix privilege escalation: prevent users from modifying their own plan column
DROP POLICY IF EXISTS "Users can update own profile" ON public.profiles;

-- Re-create with restricted columns (only allow username and avatar_url updates)
CREATE POLICY "Users can update own profile"
ON public.profiles FOR UPDATE
TO authenticated
USING (auth.uid() = id)
WITH CHECK (auth.uid() = id);

-- Create a trigger to prevent plan column changes from non-service-role
CREATE OR REPLACE FUNCTION public.prevent_plan_self_update()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  -- If plan is being changed and the caller is not service_role, block it
  IF NEW.plan IS DISTINCT FROM OLD.plan THEN
    IF current_setting('role') != 'service_role' THEN
      NEW.plan := OLD.plan; -- silently revert the plan change
    END IF;
  END IF;
  RETURN NEW;
END;
$$;

CREATE TRIGGER protect_plan_column
BEFORE UPDATE ON public.profiles
FOR EACH ROW
EXECUTE FUNCTION public.prevent_plan_self_update();

-- Make storage buckets private
UPDATE storage.buckets SET public = false WHERE id IN ('videos', 'thumbnails', 'creator-media');

-- Drop overly permissive anon SELECT policies
DROP POLICY IF EXISTS "Public can view videos" ON storage.objects;
DROP POLICY IF EXISTS "Public can view thumbnails" ON storage.objects;
DROP POLICY IF EXISTS "Anyone can view public media" ON storage.objects;

-- Add authenticated-only SELECT policies scoped to user
CREATE POLICY "Authenticated users can view own videos"
ON storage.objects FOR SELECT
TO authenticated
USING (bucket_id = 'videos' AND (storage.foldername(name))[1] = auth.uid()::text);

CREATE POLICY "Authenticated users can view own thumbnails"
ON storage.objects FOR SELECT
TO authenticated
USING (bucket_id = 'thumbnails' AND (storage.foldername(name))[1] = auth.uid()::text);

CREATE POLICY "Authenticated users can view own creator-media"
ON storage.objects FOR SELECT
TO authenticated
USING (bucket_id = 'creator-media' AND (storage.foldername(name))[1] = auth.uid()::text);

-- Add DELETE policy for oauth_states so users can clean up their own states
CREATE POLICY "Users can delete own oauth states"
ON public.oauth_states FOR DELETE
TO authenticated
USING (auth.uid() = user_id);

-- Additionally, revoke direct UPDATE on the plan column from authenticated role
REVOKE UPDATE (plan) ON public.profiles FROM authenticated;

-- Drop the existing overly permissive UPDATE policy
DROP POLICY IF EXISTS "Users can update own profile" ON public.profiles;

-- Create a restrictive UPDATE policy that prevents plan column changes
-- by checking that the plan value remains unchanged
CREATE POLICY "Users can update own profile safe columns"
ON public.profiles FOR UPDATE
TO authenticated
USING (auth.uid() = id)
WITH CHECK (
  auth.uid() = id
  AND plan IS NOT DISTINCT FROM (SELECT p.plan FROM public.profiles p WHERE p.id = auth.uid())
);

-- Fix INSERT policy to enforce plan = 'free' on creation
DROP POLICY IF EXISTS "Users can insert own profile" ON public.profiles;

CREATE POLICY "Users can insert own profile"
ON public.profiles FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = id AND plan = 'free');
-- Add music_metadata column to publications table
DO $$ 
BEGIN 
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name = 'publications' AND column_name = 'music_metadata') THEN
        ALTER TABLE public.publications ADD COLUMN music_metadata jsonb DEFAULT NULL;
    END IF;
END $$;

COMMENT ON COLUMN public.publications.music_metadata IS 'Metadata for audio/music attached to the post (title, artist, url, viral_id)';
-- Phase 2: Create social_tokens table and migrate data
CREATE TABLE IF NOT EXISTS public.social_tokens (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
    platform TEXT NOT NULL, -- youtube, instagram, tiktok
    account_name TEXT,
    account_id TEXT,
    access_token_encrypted TEXT NOT NULL,
    refresh_token_encrypted TEXT,
    expires_at TIMESTAMPTZ,
    last_refreshed_at TIMESTAMPTZ DEFAULT now(),
    created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
    UNIQUE(user_id, platform)
);

-- Migrate data from social_accounts to social_tokens
INSERT INTO public.social_tokens (
    user_id, 
    platform, 
    account_name, 
    account_id, 
    access_token_encrypted, 
    refresh_token_encrypted, 
    expires_at, 
    created_at, 
    updated_at
)
SELECT DISTINCT ON (user_id, platform)
    user_id, 
    platform, 
    account_name, 
    account_id, 
    access_token_encrypted, 
    refresh_token_encrypted, 
    token_expires_at, 
    created_at, 
    COALESCE(updated_at, created_at)
FROM public.social_accounts
ORDER BY user_id, platform, updated_at DESC, created_at DESC
ON CONFLICT (user_id, platform) DO UPDATE SET
    account_name = EXCLUDED.account_name,
    account_id = EXCLUDED.account_id,
    access_token_encrypted = EXCLUDED.access_token_encrypted,
    refresh_token_encrypted = EXCLUDED.refresh_token_encrypted,
    expires_at = EXCLUDED.expires_at,
    updated_at = now();

-- RLS for social_tokens
ALTER TABLE public.social_tokens ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Users can view own social tokens" ON public.social_tokens;
CREATE POLICY "Users can view own social tokens" ON public.social_tokens
  FOR SELECT TO authenticated USING (auth.uid() = user_id);

DROP POLICY IF EXISTS "Users can insert own social tokens" ON public.social_tokens;
CREATE POLICY "Users can insert own social tokens" ON public.social_tokens
  FOR INSERT TO authenticated WITH CHECK (auth.uid() = user_id);

DROP POLICY IF EXISTS "Users can update own social tokens" ON public.social_tokens;
CREATE POLICY "Users can update own social tokens" ON public.social_tokens
  FOR UPDATE TO authenticated USING (auth.uid() = user_id);

DROP POLICY IF EXISTS "Users can delete own social tokens" ON public.social_tokens;
CREATE POLICY "Users can delete own social tokens" ON public.social_tokens
  FOR DELETE TO authenticated USING (auth.uid() = user_id);
-- 20260317131000_add_content_format_to_publications.sql
-- Add content_format column to publications table

-- 1. Add column with default 'reels' to maintain compatibility
ALTER TABLE public.publications 
ADD COLUMN IF NOT EXISTS content_format TEXT NOT NULL DEFAULT 'reels';

-- 2. Add constraint for valid formats
-- Note: 'carousel' is used as the technical value as per user request.
ALTER TABLE public.publications
DROP CONSTRAINT IF EXISTS publications_content_format_check;

ALTER TABLE public.publications
ADD CONSTRAINT publications_content_format_check 
CHECK (content_format IN ('reels', 'carousel', 'story'));

-- 3. Comment for documentation
COMMENT ON COLUMN public.publications.content_format IS 'The format of the content: reels (default), carousel, or story.';
